<h3><%= @section.title %></h3>

<%if @section.lessons.any? %>
  <h3>Lessons in this section:</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th width='200px'>Lesson Name:</th>
        <th>Content:</th>
      </tr>
    </thead>
    <tbody>
      <% @section.lessons.each do |lesson| %>
        <tr>

          <td><%= link_to lesson.name, section_lesson_path(@section, lesson)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>There are no lessons in this category yet.</h3>
<% end %>

<p><%= link_to "Edit Section", edit_section_path(@section) %></li>
<p><%= link_to "Delete", section_path(@section),
                    :data => {:confirm => "Confirm?",
                    :method => "delete"} %></p>

<br>


<%= link_to 'Add a New Lesson', new_section_lesson_path(@section) %>
