<% content_for :title, "Learn To Program | Lesson" %>

<h1><%= @lesson.name %></h1>

<p>Content: <%= @lesson.content %></p>

<p>Number: <%= @lesson.number %></p>

<p><%= link_to "Edit", edit_section_lesson_path(@section, @lesson) %></li>
<p><%= link_to "Delete", section_lesson_path(@section, @lesson),
                    :data => {:confirm => "Confirm?",
                    :method => "delete"} %></p>



<% if @next %>
  <%= link_to "Next", section_lesson_path(@section, @next) %>
<% end %>


<% if @previous %>
  <%= link_to "Previous", section_lesson_path(@section, @previous) %>
<% end %>
