<% content_for :title, "Learn To Program | Lesson" %>

<h1><%= @lesson.name %></h1>

<p>Content: <%= @lesson.content %></p>

<p>Number: <%= @lesson.number %></p>

<p><%= link_to "Edit", edit_lesson_path(@lesson) %></li>
<p><%= link_to "Delete", lesson_path(@lesson),
                    :data => {:confirm => "Confirm?",
                    :method => "delete"} %></p>



<% if @next %>
  <%= link_to "Next", lesson_path(@next) %>
<% end %>


<% if @previous %>
  <%= link_to "Previous", lesson_path(@previous) %>
<% end %>
